// Secrets.xcconfig
//
// Your actual Last.fm API credentials go here.
// This file is gitignored - it will NOT be committed to source control.
//
// Get your API credentials at: https://www.last.fm/api/account/create

LASTFM_API_KEY = 200dc69dc1f00d70f7e49a742265102d
LASTFM_SHARED_SECRET = 6ef2dec03f3d25288e6b2c19f729815a

